[Unit]
Description=Brother QL Web
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/brother_ql_web
ExecStart=/opt/brother_ql_web/.venv/bin/gunicorn --workers 3 --error-logfile /var/log/gunicorn/brother-ql-web.log --bind 0.0.0.0:5000 -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
